.card_content{
    width: auto;
    height: auto;
    background-color: red;
}

.cardcontenbox{
    background-color: blue;
    width: 260px;
    height: 390px;
}

.card_content :is(.card_content_main1, .card_content_main2)
{
    padding: 40px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}