.global_recognition{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.globalrecog_content h1{
    color: white;
    text-align: center;
    font-size: 110px;
}