* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

nav {
  padding: 30px 97px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
}

#accenture_logo {

  height: auto;
  width: 90px;
  height: auto;
  cursor: pointer;
}

ul {
  width: 700px;
  font-family: sans-serif;
  font-size: 20px;
  gap: 30px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1100px) 
{
    ul
    {
      display: none;
    }
  
}

.nav_third_group{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .nav_third_group{
      display: none;
    }
  
}

nav :is(.country, ul) {
  margin: 0;
  cursor: pointer;
  color: white;
}

.li_arrow:is(:hover, :active) {
  color: grey;
}

.nav li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined{
  
  color: white;
}

.li_arrow{
  display: flex;
}