.reviewsection {
  padding: 60px 121px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reviewsection img {
  padding-right: 70px;
  width: 550px;
  height: 350px;
}

.review2 {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.review2 h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.review2 h4,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.review2 p {
  font-size: 1rem;
}
