.reviewsection {
  padding: 60px 121px;
  background-color: purple;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reviewsection img {
  padding-right: 70px;
  width: 680px;
  height: 500px;
}

.review2 {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.review2 h4 {
  font-size: 35px;
  font-weight: 500;
}

.review2 h4,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.review2 p {
  font-size: 25px;
}
